body{
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    outline: none;
    border: none;
    width: inherit;
    padding: 5px 0px;
}
.fa{
    margin: 0px 12px;
}
.searchBar{
    border: 0.5px solid black;
    align-self: center;
    align-items: center;
    width: 90vw;
    background-color: white;
    padding: 5px;
    border-radius: 10rem;
    margin: 10px;
}
.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.header{
    height: 20rem;
}
.headerImage{
    width: 100px;
    height: 80px;
}


.popularMoviesContainer{
    align-items: start;
    width: 90vw;
    margin: 10px;
}
.popularMoviesHeading{
    margin-left: 2.5rem;
    font-size: large;
}
.popularMovies{
    padding: 20px;
    width: 90vw;
    border: 1px dashed black;
    border-radius: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.popularMoviesTile{
    margin: 10px;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
}