body{
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#firstPage{
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

input{
    outline: none;
    border: none;
  
    width: inherit;
    padding: 5px 0px;
}
.fa{
    margin: 0px 12px;
}
.searchBar{
    border: 0.5px solid black;
    align-self: center;
    align-items: center;
    width: 90vw;
    background-color: white;
    padding: 5px;
    border-radius: 10rem;
}

.searchButton{
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
}

.searchButton:hover{
    background-color: greenyellow;
    border-radius: 10px;

}

.column{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
}
.header{
    height: 20rem;
}


.popularMoviesContainer{
    align-items: start;
}
.popularMoviesHeading{
    margin-left: 2.5rem;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
}
.popularMovies{
    padding: 20px;
  
    width: 90vw;
    border: 1px dashed black;
    border-radius: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.popularMoviesTile{
    cursor: pointer;
    margin: 10px;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
}

.popularMoviesTile:hover{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
    background-color: white;
}

.logoImage{
    width: 20vw;
}

.searchBarTop{
    border: 0.5px solid black;
    align-self: center;
    align-items: center;
    width: 70vw;
    background-color: white;
    padding: 5px;
    border-radius: 10rem;
}

#getGIFsButton{
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    padding: 10px 0px;
    margin: 10px 20px;
    border: 0.5px solid black;
}
#getGIFsButton:hover{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.20);
}